<div id="dashboard-analytics" class="page-layout blank">

    <div class="content">

        <div class="left mr-lg-32">

            <div fxLayout="column" fxLayoutAlign="start"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <!-- Widget 2 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="25">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                        <div class="p-16" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Student</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{widgets.widget2.conversion.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"
                                     *ngIf="widgets.widget2.conversion.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{widgets.widget2.conversion.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"
                                     *ngIf="widgets.widget2.conversion.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{widgets.widget2.conversion.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of target</div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- / Widget 2 -->

                <!-- Widget 3 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="25">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                        <div class="p-16" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Agent</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{widgets.widget3.impressions.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"
                                     *ngIf="widgets.widget3.impressions.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{widgets.widget3.impressions.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"
                                     *ngIf="widgets.widget3.impressions.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{widgets.widget3.impressions.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of target</div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- / Widget 3 -->

                <!-- Widget 4 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="25">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                        <div class="p-16" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Lender</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{widgets.widget4.visits.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"
                                     *ngIf="widgets.widget4.visits.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{widgets.widget4.visits.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"
                                     *ngIf="widgets.widget4.visits.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{widgets.widget4.visits.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of target</div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- / Widget 4 -->

                <!-- Widget 5 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="25">

                    <div class="fuse-card auto-width">

                        <div class="p-16" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Report</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{widgets.widget4.visits.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"
                                     *ngIf="widgets.widget4.visits.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{widgets.widget4.visits.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"
                                     *ngIf="widgets.widget4.visits.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{widgets.widget4.visits.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of target</div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- / Widget 5 -->

            </div>

        </div>

    </div>

</div>
